
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fb;
    margin: 0;
    padding: 0;
}

.history-container {
  
    max-width: 900px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;  
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
}


.history-table {
    margin-top: 30px;
    margin-bottom: 40px; 
    border-radius: 8px; 
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px 20px; 
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

th {
    background-color: #f8f8f8;
    color: #555;
    font-weight: 600;
    text-transform: uppercase;
}

td {
    color: #555;
    font-size: 1rem;
}

tr:hover {
    background-color: #f1f1f1; 
}

.btn {
    background-color: #4CAF50; 
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 6px; 
    cursor: pointer;
    font-size: 1.1rem;
    display: block;
    margin: 30px auto 0;
    transition: background-color 0.3s ease; 
}

.btn:hover {
    background-color: #45a049; 
}

.btn:focus {
    outline: none;
}

.no-history-message {
    text-align: center;
    color: #999;
    font-size: 1.2rem;
    font-style: italic;
}

table thead th {
    border-top: none; 
}

table thead th:first-child {
    border-top-left-radius: 10px; 
}

table thead th:last-child {
    border-top-right-radius: 10px; 
}

table tbody tr:last-child td {
    border-bottom: none;
}

.history-table td, .history-table th {
    font-family: 'Arial', sans-serif;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-btn {
  background-color: transparent;
  color: #007bff;
  padding: 10px 20px;
  border: none;
  font-size: 1.5rem; 
  cursor: pointer;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-btn:hover {
  color: #0056b3; 
}

#page-number {
  font-size: 1.2rem;
  align-self: center;
  padding: 0 10px;
}

.btn-back {
  background-color: transparent;
  color: #000000;
  font-size: 1.2rem;
  padding: 8px 15px;
  border: 2px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 20px; 
}

.btn-back:hover {
  background-color: #007bff;
  color: white;
  border-color: #0056b3;
}

.btn-back:focus {
  outline: none;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
  margin-bottom: 20px;
}

.history-title {
  font-size: 2.5rem;
  background: linear-gradient(to right, #FFB3D9, #A3D8F4); 
  -webkit-background-clip: text;
  color: transparent; 
  margin: 0;
  text-align: center;
}

.top-right-img {
  width: 71px;
  height: 105px;
  object-fit: cover;
  position: absolute;
  right: 20px; 
}
